/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

/* Changing the main font and background colour */



/* Changing the background colour for the header */

header {
	background-color: #000060;
}

/* Changing the background color for the navigation bar */

.navbar {
	background-color: #4d3699
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

/* Corporate navbar */

#navbar-corporate a.active {
	color: #800000;
	font-weight: bold;
}

/* Hero Section shadow */

.white-shadow {
	text-shadow: -.01em -.01em .01em white,
		.02em .02em .02em white,
		0 0 .2em white,
		0 0 .5em white;
}

.mycolumnstyle{
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.backgroundwebsite {
    background-color: #ECE4DB;	
}
.carouselcaptionmine {
    color: #000000;
    font-style: normal;
    font-weight: bold;
}

.carouselblock {
    width: 800px;
    height: 199px;
}

.buttoncustom {
    background-color: #A82447;
    color: #FFFFFF;
}

.newbox {
    background-color: #5135A0;
    margin-top: 31px;
    margin-right: 31px;
    margin-bottom: 31px;
    margin-left: 31px;
    padding-top: 220px;
    padding-right: 220px;
    padding-bottom: 220px;
    padding-left: 220px;
    width: 1200px;
    height: 100px;
}
